@model ProductViewModel
<h1> Add Products </h1
<hr />
<br />
<form method="post" class="form-group col-md-6">
    <div>
        <label> Product Name </label>
        <input class="form-control" type="text" name="Name" placeholder="Enter Product Name" /><br /><br />
        </div>
        <div>
        <label> Product Price </label>
            <input class="form-control" type="text" name="Price" placeholder="Enter Product Price" /> <br /> <br />
        </div>
        <div>
            <label>Product Quantity</label>
            <input class="form-control" type="text" name="Quantity" placeholder="Enter Product Quantity"/> <br /> <br />
        </div>
     <div>
        <input class="btn btn-primary" type="submit" value="Add Product" />
    </div>
</form>
